MY_USERNAME = "MyUsername"
ADMIN_USERNAME ="username0"
MY_DB_NAME = "twitbot.db"
MY_DB = SQLite3::Database.new(MY_DB_NAME)
ADMINS = [ ADMIN_USERNAME, "username2", "username3"]

@consumer_key= "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
@consumer_secret = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
@token = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
@secret = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
